@import "./fonts.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.video-custom {
  position: relative;
 }
 a:hover {
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
} 
 
 .start-link{
    background-image: linear-gradient(#F5A54F, #F5A54F);
    background-size: 100% 1.5px;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: background-size .7s, background-position .5s ease-in-out;
 }
 .start-link:hover {
  background-size: 100% 100% !important;
  background-position: top !important;
  transition: background-position .7s, background-size .5s ease-in-out !important;
}
 
.site-map-col ul li a::after,.site-map-col2 a::after{
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  content: '';
  position: absolute;
  background: #FFA156;
  transition: ease-in-out 0.3s;
}
.site-map-col ul li a:hover::after,.site-map-col2 a:hover::after {
  width: 100%;
}
 .video-custom .poster-img {
  display: block;
  width: 100%;
 }
 
 .video-custom video {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
 }
 
 .video-custom .play-btn, .video-custom .pause-btn {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  margin: auto;
  width: 52px;
  height: 62px;
  z-index: 3;
  cursor: pointer;
  transition: 0.5s all;
  overflow: hidden;
 }
 @keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}
.marquee > h3 {
  white-space: nowrap;
  animation: marquee 6s linear infinite; /* Time must be adjusted based on total width of scrolled elements*/
}
 
 .video-custom .pause-btn {
  display: none;
 }
 
 .video-custom .play-btn i {
  width: 0;
  height: 0;
  border-style: solid;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 18px solid #000000;
  border-right: 0;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  margin: auto;
 }
 
 .pause-btn i {
  position: absolute;
  left: -3px;
  right: 0px;
  bottom: 0px;
  top: 2px;
  margin: auto;
  width: 16px;
  height: 24px;
  flex-flow: row wrap;
 }
 
 .pause-btn i:before {
  content: '';
  width: 4px;
  height: 100%;
  background-color: #000;
  display: inline-block;
 }
 
 .pause-btn i:after {
  content: '';
  width: 4px;
  height: 100%;
  margin-left: 8px;
  background-color: #000;
  display: inline-block;
 }
 
 .playvideo .video-custom img {
  opacity: 0;
 }
 
 .playvideo .video-custom video {
  opacity: 1;
 }
 
 .video-custom .vplay {
  display: none;
 }
 
 .video-custom:hover .vplay + .pause-btn {
  display: block;
 }
 
 /***Volume Control***/
 html:not(.playvideo) .sound-ctrl {
  display: none;
 }
 
 .sound-ctrl {
  position: absolute;
  z-index: 2;
  right: 14px;
  bottom: 5px;
  cursor: pointer;
 }
 
 .sound-ctrl .on-button {
  display: none;
 }
 
 .sound-ctrl img {
  opacity: 0;
 }
 
 .sound-ctrl .off-button, .sound-ctrl .on-button {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 0px;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0px;
  cursor: pointer;
 }
 
 .soundctrlshow .on-button {
  display: block;
 }
 
 .soundctrlshow .off-button {
  display: none;
 }
 
 .playvideo .video-custom .sound-ctrl img {
  opacity: 1;
 }
 
 .soundctrlshow .on-button:before {
  content: '';
  position: absolute;
  left: 12px;
  top: -5px;
  z-index: 10;
  width: 3px;
  height: 32px;
  background-color: #fff;
  transform: rotate(45deg);
 }
 
 /***Volume Control***/

 
 
 @font-face {
  font-family: "LarkenVariableRoman";
  src: url('./font.woff2') format('woff2'), 
  url('./font.woff') format('woff');
}
.larkenvariableroman{
  font-family: "LarkenVariableRoman";
}